<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2019 Job_66
        <br>Design by
        <a href="http://liudezhi.logdown.com/" target=_new>udizy</a>
    </p>
</footer>
